	table {
		background-color: #6CC0FF;
	}

	thead {
		background-color: #489CFF;
		color: white;
	}

	tbody{
		background-color: #F8FFFF;
		color: #4374D9;
	}

	tr.tr_even{
		background-color: #D9E5FF;
	}

	input.textfiled{
		border: 1px solid #1F51B7;
	}

	tfoot{
		background-color: #90C3FF;
	}

	input.button{
		background-color: #4375DB;
		color: white;
		border: 3px solid #1F51B7;

	}

